<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navigator</title>
</head>
<body>
    <div class="col-sm-4" th:fragment="navigator">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">전체</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="board/list">와플</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">커피/라떼</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">쥬스/차</a>
        </li>
    </ul>
    <hr class="d-sm-none">
</div>
</body>
</html>